$goldenColor: linear-gradient(
  to right,
  #462523 0,
  #cb9b51 22%,
  #f6e27a 45%,
  #f6f2c0 50%,
  #f6e27a 55%,
  #cb9b51 78%,
  #462523 100%
);
.wrap {
  margin: auto;
  .Coins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.pokerchip {
  cursor: pointer;
  margin: 0em 0.5em;
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 5em;
  height: 5em;
  background: #928e66;
  border-radius: 50%;
  position: relative;
  border: 0.5em dashed white;
  transition: all 0.5s ease;
  backface-visibility: hidden;
  &.red {
    background: #dd4631;
  }
  &.blue {
    background: #317ddd;
  }
  &.green {
    background: green;
  }
  &.black {
    background: black;
  }
  &.iso {
    transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
    box-shadow: -1px 1px 0px #000, -2px 2px 0px #000, -3px 3px 0px #000,
      -4px 4px 0px #000, -5px 5px 0px #000, -6px 15px 8px #000;
    &:hover {
      transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg)
        translateZ(0.5em);
    }
  }
}
.money {
  font-weight: bold;
  color: #fffbfbc2;
  font-size: x-large;
  text-shadow: 2px 2px 15px black;
}
.bet {
  width: 300px;
  border-radius: 10px;
  margin: auto;
  background-color: rgba($color: #000000, $alpha: 0.5);
  h3 {
    background-image: $goldenColor;
  }
}
.mybet {
  font-family: "Times New Roman", serif;
  letter-spacing: 5px;
  font-size: 80px;
  font-weight: bold;
  background-image: $goldenColor;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.place {
  transform: translateY(-100%);
  color: #002400;
}
#space {
  margin-bottom: 35px;
}
.deal {
  cursor: pointer;
  margin: 15px auto 20px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #9dfda1;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  &:hover {
    background-color: #9c0404;
    color: #fff;
    transition: all 0.5s;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    background: #c24444;
  }
  100% {
    transform: scale(1);
  }
}
.betsecond {
  position: fixed;
  bottom: 0;
  width: 200px;
  border-radius: 10px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  h3 {
    background-image: $goldenColor;
    font-size: 15px;
  }
  .mybet {
    font-family: "Times New Roman", serif;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
    background-image: $goldenColor;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@media screen and(max-width:600px) {
  .betsecond {
    width: 150px;
  }
}
