.Modal {
  position: fixed;
  z-index: 1500;
  background-color: #ffffffd4;
  width: 70%;
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: center;
}

.Modal button {
  margin: 10px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
